body{

    background-color: rgb(219, 219, 219);
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box; 
}

a{
    color: black;
}

#Container{

    /* border: 2px solid red; */
}

    #Navbar {

        /* border: 2px solid green; */
        background-color: rgb(2, 2, 2);
        color: white;
        height: 50px;
        width: 100%;

        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        justify-items:auto;

        position: fixed;
        top: 0;
        width: 100%;
        overflow:hidden;
        /* background-color: white; */
    }
        #Nav_Left{

            /* border: 2px solid blue; */
            width: 30%;
            text-align: center;
        }
        #Nav_Right{

            /* border: 2px solid rgb(57, 131, 0); */
            width: 70%;
            font-weight: 500px;
            text-align: center;

            display: grid;
            grid-template-columns: repeat(6,1fr);
        }
        #Nav_Right a{
            color: white;
            text-decoration: none;
        }
        #Nav_Right p:hover{

            color: brown;
            cursor:pointer;
        }

    #Top{

        /* border: 2px solid green; */
        margin-top: 70px;
        margin-bottom: 20px;

        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
    }
        #Top_Left{

            font-size: 24px;
            margin-left: 100px;

        }
        #Top_Left p{

            margin-bottom: -25px;
        }
        #Top_Left span{

            color: rgb(145, 10, 10);
        }
        #Top_Right {
            
            /* border: 2px solid greenyellow; */
            padding-right: 30px;
        }

        #gif{

            width: auto;
            border-radius: 700px;
        }

    #Mid{
        /* border: 2px solid green; */


        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;

        padding-top: 20px;
        padding-bottom: 20px;
    }
        #Mid_Left{
            /* border: 2px solid blue; */
            width: 50%;margin: auto;

            
        }
            #Mid_Left > img{
                width: 100%;
                border-radius: 500px;
            }
        #Mid_Right{
            width: 100%;
            margin: auto;
        }
        #About_Me2{
            /* border: 2px solid yellow; */

            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-content: center;
        }
            #education > div > span{

                color: #cf2345;
            }
            #education > div > p {

                line-height: 5px;

            }
    #Mid2{

        /* border: 2px solid green; */
        text-align: center;
        width: 80%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;

        background-color: #EFEFEF;
        border-radius: 200px;
        padding: 10px;
        
    }
        #Icons{

            /* border: 2px solid yellow; */

            display: grid;
            grid-template-columns: repeat(3,1fr);
            justify-content: center;
            align-items: center;
        }

            #Icons > img{

                margin: auto;

                width: 30%;
            }

    #Projects{
        /* border: 2px solid green; */
        text-align: center;
        width: 90%;
        margin: auto;
    }
        .Project{

            border: 2px solid blue;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            text-align: start;

            border: 1px solid gray;
            border-radius: 10px;
            padding: 20px;
        }
        .Project  div {
            /* border: 2px solid yellow; */
            padding: 10px;

        }
            .Project > div img{

                width: 100%;
                border-radius: 10px;
            }
            .Project > div button{

                width: 30%;
                margin: auto;
                padding: 10px;
                border-radius: 20px;
                border: 1px solid black;
                background-color: black;
                color: white;

            }
            .Project > div button:hover{

                cursor: pointer;
                color: black;
                background-color: gray;
            }
    #Git{

        /* border: 2px solid green; */
        text-align: center;
        margin-top: 50px;
    }
        #Status{
            
            /* border: 2px solid yellow; */
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-content: center;
            align-items: center;
            width: 60%;
            margin: auto;
            margin-bottom: 20px;
        }
        #Calender{

            /* border: 2px solid yellow; */
            background-color: white;
            width: 70%;
            margin: auto;
            border-radius: 20px;
            padding-top: 15px;

        }

    #ContactMe{
        margin-top: 40px;
        /* border: 2px solid green; */
        text-align: center;
        background-color: black;
        color: white;
        padding-top: 50px;

        padding-bottom: 50px;

    }

        #mail a{
            color: white;
            text-decoration: none;
        }
        #ContactButtons{
            /* border: 2px solid yellow; */

            display: grid;
            grid-template-columns: repeat(3,1fr);
            justify-content:space-evenly;
            align-items: center;
            width: 25%;
            margin: auto;
            padding-left: 40px;


        }
        #ContactMe button {

            padding: 10px;
            width: 100px;
            border-radius: 50px;
            border: 1px solid black;
        }
        #ContactMe button:hover{

            background-color: gray;
            cursor: pointer;
        }
        



