
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

}
:root{
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #ff4d05;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;


}

body{

    background-color: rgb(219, 219, 219);
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box; 
}

a{
    color: black;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all.45s ease;
}
.logo{
   color: var(--text-color); 
   font-size: 35px;
   font-weight: 700;
   letter-spacing: 1px;
}
span{
    color: var(--main-color);
}
.navlist{
    display: flex;
}
.navlist li a{
    /* color: var(--second-color); */
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}
.navlist a:hover{
    color: var(--main-color);
}
.navlist a.active{
    color: var(--main-color);
}

header.sticky{
    background: var(--bg-color);
    border-bottom:  1px solid #ffffff1a;
    padding:  12px 15%;
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

    #Top{

        /* border: 2px solid green; */
        margin-top: 70px;
        margin-bottom: 20px;

        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
    }
        #Top_Left{

            font-size: 24px;
            margin-left: 100px;

        }
        #Top_Left p{

            margin-bottom: 20px;
        }
        #Top_Left button{

            width: 35%;
            margin: auto;
            padding: 10px;
            border-radius: 20px;
            border: 1px solid black;
            background-color: black;
            color: white;

            margin-top: 40px;
        }

        #Top_Left button:hover{
            background-color: gray;
            cursor: pointer;
            color: black;
        }
        #Top_Left span{

            color: rgb(145, 10, 10);
        }
        #Top_Right {
            
            /* border: 2px solid greenyellow; */
            padding-right: 30px;
        }

        #gif{


            margin: auto;
            border-radius: 60%;
        }

    #Mid{
        /* border: 2px solid green; */


        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;

        padding-top: 20px;
        padding-bottom: 20px;
    }

    #Mid_Right{

        margin-right: 50px;
    }

    #Mid_Right p{

        font-size: 18px;
        line-height: 25px;
    }


            #Mid_Left > img{
                width: 70%;
                margin-left: 50px;
                border-radius: 500px;
            }

            #About_Me h1{

                margin-bottom: 30px;
            }

            #About_Me a > button{

                width: 30%;
                margin: auto;
                padding: 10px;
                border-radius: 20px;
                border: 1px solid black;
                background-color: black;
                color: white;

                margin-top: 40px;
            }

            #About_Me button:hover{
                background-color: gray;
                cursor: pointer;
                color: black;
            }
       
        #About_Me2{
            /* border: 2px solid yellow; */

            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-content: center;
        }
            #education > div > span{

                color: #cf2345;
            }
            #education > div > p {

                line-height: 5px;

            }
    #Mid2{

        /* border: 2px solid green; */
        text-align: center;
        width: 80%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;

        background-color: #EFEFEF;
        border-radius: 200px;
        padding: 10px;
        
    }

    #Mid2 h1{

        margin-top: 20px;
        margin-bottom: 30px;
    }
        #Icons{

            /* border: 2px solid yellow; */

            display: grid;
            grid-template-columns: repeat(3,1fr);
            justify-content: center;
            align-items: center;
        }

            #Icons > img{

                margin: auto;

                width: 30%;
            }

    #Projects{
        /* border: 2px solid green; */
        text-align: center;
        width: 90%;
        margin: auto;

        font-size: 20px;

    }

    #Projects h1{

        margin-bottom: 30px;
    }
        .Project{

            border: 2px solid blue;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            text-align: start;

            border: 1px solid gray;
            border-radius: 10px;
            padding: 20px;

            margin-bottom: 40px;
        }
        .Project  div {
            /* border: 2px solid yellow; */
            padding: 10px;

        }
            .Project > div img{

                width: 100%;
                border-radius: 10px;
            }
            .Project > div button{

                width: 30%;
                margin: auto;
                padding: 10px;
                border-radius: 20px;
                border: 1px solid black;
                background-color: black;
                color: white;

                margin-left: 20px;
                margin-right: 20px;
                margin-top: 40px;

            }
            .Project > div button:hover{

                cursor: pointer;
                color: black;
                background-color: gray;
            }
    #Git{

        /* border: 2px solid green; */
        text-align: center;
        margin-top: 50px;
    }

    #Git h1{

        margin-bottom: 30px;
    }

    #Git p{

        align-items: space-between;
    }
        #Status{
            
            /* border: 2px solid yellow; */
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-content: center;
            align-items: center;
            width: 60%;
            margin: auto;
            margin-bottom: 20px;
        }

        #status2{

            margin-left: 20px;
        }
        #Calender{

            /* border: 2px solid yellow; */
            background-color: white;
            width: 70%;
            margin: auto;
            border-radius: 20px;
            padding-top: 15px;

        }

    #ContactMe{
        margin-top: 40px;
        /* border: 2px solid green; */
        text-align: center;
        background-color: black;
        color: white;
        padding-top: 50px;

        padding-bottom: 50px;

        line-height: 25px;
        word-spacing: 3px;

    }

    #ContactMe h1{

        margin-bottom: 30px;
    }

        #mail a{
            color: white;
            text-decoration: none;
        }
        #ContactButtons{
            /* border: 2px solid yellow; */

            display: grid;
            grid-template-columns: repeat(3,1fr);
            justify-content:space-evenly;
            align-items: center;
            width: 25%;
            margin: auto;
            padding-left: 40px;


        }
        #ContactMe button {

            padding: 6px;
            margin: 20px;
            width: 80px;
            border-radius: 50px;
            border: 1px solid black;
        }
        #ContactMe button:hover{

            background-color: gray;
            cursor: pointer;
        }
        
/* Navbar Responsiveness */

@media (max-width:1480px){
    header{
        padding: 12px 2.5%;
        transition: .1s;
    }
    header.sticky{
        padding: 10px 2.5%;
        transition: .1s;
    }
}

/* Navbar responsiveness 2 */


@media (max-width:940px){

    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;

    }
    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }
    .navlist a:hover{
        color: var(--main-color);
    }
    .navlist a.active{
        color: var(--text-color);
    }
    .navlist.open{
        top:100%;
    }
    #github-streak-stats {
        display: grid;
        
      }
    .calendar{
        width: 100%;
    }
    .st1{
        width: 100%;
    }

    #Top{ 
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
   }

   #Top_Right{

    margin-top: 100px;
    text-align: center;

}

#gif{

    width: 80%;
    margin: auto;
}

    #Mid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

        #Mid_Left{

            width: 60%;
            margin: auto;
        }

        #Mid_Right{


            margin-left: 80px;
            margin-right: 80px;
        }

        #Status{
            

            display: grid;
            grid-template-columns: repeat(1,1fr);
            width: 80%;
        }
        #Calender{
    
            /* border: 2px solid yellow; */
            background-color: white;
            width: 100%;
            margin: auto;
    
        }
    
        #status2 img{
    
            width: 100%;
        }

        .Project a > button{


            margin-left: 20px;
            margin-right: 20px;
            margin-top: 40px;
        }
}

@media (max-width:700px){

    #Top_Right  {
        padding-right: 0px;
    }

    #Top_Right gif{


    }


    #Mid_Left{

        width: 100%;
        margin: auto;
        margin-left: 0px;
        text-align: center;
    }

    #Mid_Right{

        margin-right: 0px;
        margin-top: 30px;
    }

    #Mid_Left > img{
        width: 70%;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 500px;
    }

    #Mid2{

        width: 95%;
        border-radius: 20%;
        
    }

        #Icons{

            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 25px;
            padding-bottom: 30px;
        }

            #Icons > img{

                margin: auto;
                width: 40%;
            }
    
            #Projects{

                width: 100%;
                
            }
                .Project{
        
                    display: grid;
                    grid-template-columns: repeat(1,1fr);
                    text-align: center;
        
                    border-radius: 10px;
                    padding: 5px;
                    padding-bottom: 20px;
                    margin-bottom: 30px;
                }

                .Project ul{

                    text-align: start;
                }

                .Project a > button{


                    margin-left: 20px;
                    margin-right: 20px;
                    margin-top: 40px;
                }

}

